<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - MercadoLiebre</title>
    <link rel="stylesheet" href="/style/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ecb034c4f6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="360px" alt="logo-mercado-liebre">
    </header>
    <main class="main-login">

        <form action="/" method="get" class="form-login">
            <input type="text" name="usuario" id="usuario" minlength="4" placeholder="Nombre de usuario">
            
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </form>
        <div class="button-login">
            <button>Enviar</button>
            <button>Borrar</button>
        </div>
    </main>
        <footer>
            <div class="section-footer">
                <section>
                    <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $2500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
        </div>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>