<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - MercadoLiebre</title>
    <link rel="stylesheet" href="/style/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ecb034c4f6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="360px" alt="logo-mercado-liebre">
    </header>
    <div class="form-container">
        <form action="/" method="GET">
            <label for="name">Nombre y apellido: </label>
            <input type="text" id="name" class="input-style">

            <label for="user-name">Nombre de usuario: </label>
            <input type="text" id="user-name" class="input-style">

            <label for="birth">Fecha de nacimiento: </label>
            <input type="date" class="input-style">

            <div class="profile-user">
                <p>Seleciona tu perfil de usuario:</p>
                <input type="radio" id="buyer" name="profile" value="Comprador">
                <label for="buyer">Comprador</label>
                <input type="radio" id="seller" name="profile" value="Vendedor">
                <label for="buyer">Vendedor</label>
            </div>

            <div class="categories">
                <p>Categorías de interés:</p>
                <input type="checkbox" id="electro" name="electro" value="Electro">
                <label for="electro">Electro</label>
                <input type="checkbox" id="Home" name="Home" value="Hogar">
                <label for="Home">Hogar</label>
                <input type="checkbox" id="fashion" name="fashion" value="Moda">
                <label for="fashion">Moda</label>
                <input type="checkbox" id="juguettoystore" name="juguettoystore" value="Jugueteria">
                <label for="toystore">Juguetería</label>
                <input type="checkbox" id="lifestyle" name="lifestyle" value="Vida sana">
                <label for="lifestyle">Vida Sana</label>
            </div>

            <label for="profile-image">Foto de usuario: </label>
            <input type="file" id="profile-image">

            <label for="password">Contraseña: </label>
            <input type="password" id="password" class="input-style">

            <label for="password-confirm">Contraseña: </label>
            <input type="password" id="password-confirm" class="input-style">

            <div class="button-form">
                <button type="submit">Enviar</button>
                <button type="submit">Eliminar</button>
            </div>
        </form>
    </div>
    <footer>
        <div class="section-footer">
            <section>
                <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
    </div>
    <section>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>
</footer>
</body>

</html>